*{box-sizing: border-box;}
body{
    background-color: rgb(236, 236, 236);
}

.header{
    background-color: rgb(255, 255, 255);
    min-height:120px;
    margin-bottom: 5px;
}

.nav{
    background-color: rgb(187, 187, 187);
    height: 40px;
}

.main{
    width: 100%;
}

.left{
    float: left;
    width: 18%;
    margin: 5px 0;
    padding:10px;
    background-color: thistle;
}

.content{
    float: left;
    width: 60%;
    margin: 5px 1%;
    padding:10px;
    background-color: lightslategrey;
}

.right{
    float: left;
    width: 20%;
    margin: 5px 0;
    padding:10px;
    background-color: thistle;

}

.footer{
    background-color: rgb(39, 38, 39);
    color: white;
}

.clearfix{
    clear: both;
}

.textCenter{
    margin: 0 auto;
}