*{box-sizing: border-box;}
body{
    background-color: rgb(128, 128, 128);
    border:0.5vw solid coral;
    padding: 0.5vw;
    margin:0;}

.body_tag{
    width: 100%;
    float: left;
    padding: 0px;}

.catalog{
    width: 16vw;
    background-color: rgb(110, 110, 110);
    list-style-type: none;
    margin: 0.5vw;
    padding: 0;
    position: relative;}
    .catalog ul {
        font-size: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;}
    .catalog li{
        width:100%;
        float: left;}
        .catalog li a{
            display: block;
            background-color: #eee;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-bottom: 4px;
            padding: 8px;
            text-decoration: none; }
            .catalog li a:hover{font-size: larger;}

.content{
    width: 77vw;
    background-color: rgb(187, 187, 187);
    margin: 0.5vw;
    padding:1vw;}

.topmenu{
    list-style-type: none；
    background-color: rgb(110, 110, 110);
    width: 100%;
    margin:0;
    padding: 0.25em;
    overflow: hidden;}

.topmenu a{
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: rgb(255, 255, 255);}

.topmenu a:hover{
    background-color: rgb(247, 148, 0);}

.topmenu a.active{
    background-color: rgb(143, 252, 140);
    color: blue;
    box-shadow:0px 0px 5px 3px rgb(0, 0, 0);}

.note_tag{
        background-color: rgb(255, 255, 255);
        color:rgb(1, 136, 30);
        margin: 10px 0px;
        padding: 1em 0.5em;}

ul ol{
    font-size: 1em;}

/*表格的样式表！！！！！！！！！！！*/
/*表格的样式表！！！！！！！！！！！*/
.alex {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    border:2px solid #EE872A; text-align: center;}
    .alex td, .alex th{
        border:2px solid #EE872A; 
        text-align: center;}
    .alex tr.oringe{background-color: rgb(252, 252, 168);}

/*列表的样式表！！！！！！！！！！！*/
/*列表的样式表！！！！！！！！！！！*/
ol.upalpha
{list-style-type:upper-alpha;}
ol.uproman
{list-style-type:upper-roman;}
ol.lwalpha
{list-style-type:lower-alpha;}
ol.lwroman
{list-style-type:lower-roman;}

img.backtop{
    position: fixed;
    right: 0.5vw;
    bottom: 2em;
    width: 3opx;
    height: 30px;
}

h1{ color:rgb(255, 0, 0);}

h3{
    color: seagreen;
    font-weight: 600;}

