*{box-sizing: border-box;}
body{
    background-color: rgb(128, 128, 128);
    padding: 5px;
    margin:0;}

.body_tag{
    float: left;
    width: 100%;
    padding: 0px;}

    
/*-------------------------左侧目录-----------------------*/
/*-------------------------左侧目录-----------------------*/
.catalog{
    width: 17%;
    float: left;
    background-color: rgb(128,128,128);
    list-style-type: none;
    margin: 0.5vw;
    padding: 0;}
    .catalog>button {
        display: block;
        font-size: 3em;
        text-align: center;
        background-color: rgb(174, 245, 174);
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 5px;
        width:100%;
        height: 100px;}
    .catalog ul {
        font-size: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;}
    .catalog li{
        width:100%;
        float: left;}
        .catalog li a{
            display: block;
            background-color: #eee;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-bottom: 4px;
            padding: 8px;
            text-decoration: none; }
            .catalog li a:hover{background-color: rgb(255, 126, 126);}


/*-------------------------右侧内容-----------------------*/
/*-------------------------右侧内容-----------------------*/
.content{
    width: 80%;
    background-color: rgb(187, 187, 187);
    margin: 0.5vw;
    padding:1vw;}


/*-------------------------顶部菜单-----------------------*/
/*-------------------------顶部菜单-----------------------*/
    .topmenu{
        list-style-type:none;
        background-color: rgb(110, 110, 110);
        width:100%;
        max-height:60px;
        margin:0;
        padding:4px;
        overflow: auto;}

        .topmenu a{
            display: inline-block;
            padding: 10px 5px;
            color: rgb(255, 255, 255);}

            .topmenu a:hover{
                background-color: rgb(247, 148, 0);}

            .topmenu a.active{
                background-color: rgb(130, 253, 206);
                color: rgb(0, 0, 0);
                border-style: inset;}


/*-------------------------笔记布局-----------------------*/
/*-------------------------笔记布局-----------------------*/  
.note_tag{
    width: 100%;
    background-color: rgb(246, 253, 236);
    color:rgb(0, 0, 0);
    margin: 10px 0px;
    padding: 0.5em 0.5em 1em;}

    .note_tag>p{
        border-left: 10px solid rgb(45, 110, 250);
        background-color: rgb(164, 184, 162);
        padding: 2px 5px;}

    .note_tag details{
            padding: 2px;
            border-bottom: 2px solid rgb(255, 255, 255);}

    .note_tag summary{
        background-color: rgb(164, 184, 162);
        list-style-type: none;}

    .note_tag ul ol{
        font-size: 1em;}
    
    .note_tag>ul>li{
        margin-top: 12px;
        text-align: justify;}

    .note_tag li span{
        background-color: silver;}


/*----------------------表格的样式表----------------------*/
/*----------------------表格的样式表----------------------*/
.alex {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    border:2px solid #EE872A; text-align: center;}
    .alex td, .alex th{
        border:2px solid #EE872A; 
        text-align: center;}
    .alex tr.oringe{
        color:rgb(0,0,0);
        background-color: rgb(255, 192, 176);}


/*----------------------列表的样式表----------------------*/
/*----------------------列表的样式表----------------------*/
ol.upalpha {list-style-type:upper-alpha;}
ol.uproman {list-style-type:upper-roman;}
ol.lwalpha {list-style-type:lower-alpha;}
ol.lwroman {list-style-type:lower-roman;}


/*---------------------下拉列表或提示框--------------------*/
/*---------------------下拉列表或提示框--------------------*/
.dropdown {
    position:relative;
    display:inline-block;}

.droptip {padding:2px;border-bottom: 1px dotted rgb(255, 0, 0);}
.dropbutton {
    background: #a4a4a4;
    color: rgb(255, 255, 255);
    padding: 5px;}

.droptiptext {
    display:none;
    position:absolute;
    bottom: 100%;
    padding: 5px;
    max-width:22em;
    max-height: 30em;
    overflow: auto;
    background: #474747;
    color: #fff;}
.dropcontent {
        display:none;
        position:absolute;
        background: #1496bb;
        color: #fff;}

.dropdown:hover .droptiptext {display: block;}
.dropdown:hover .dropcontent {display: block;}

.dropdown:hover .dropbutton {background: #363636;}
.dropdown:hover .droptip {border: 1px solid rgb(92, 155, 106)}

.dropcontent a {
    color: black;
    margin-bottom: 2px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;}
.dropcontent a:hover {background-color: #f1f1f1;}



/*------------------------回到顶部-----------------------*/
/*------------------------回到顶部-----------------------*/
img.backtop{
    position: fixed;
    border-radius: 50%;
    right: 5px;
    bottom: 6em;
    width: 30px;
    height: 30px;}
/*------------------------去到底部-----------------------*/
/*------------------------去到底部-----------------------*/
img.gobottom{
        position: fixed;
        transform:rotate(180deg);
        border-radius: 50%;
        right: 5px;
        bottom: 2em;
        width: 30px;
        height: 30px;}
/*------------------------夜间模式-----------------------*/
/*------------------------夜间模式-----------------------*/
.darkmode{
    position: fixed;
    border-radius: 50%;
    opacity:0.5;
    right: 5px;
    bottom: 4em;
    width: 30px;
    height: 30px;
    cursor: pointer;
    }
        
/*------------------------底部声明-----------------------*/
/*------------------------底部声明-----------------------*/
.footer{
    clear: both; 
    padding: 2px; 
    background-color:rgb(172, 221, 221); 
    color: rgb(255, 255, 255);
    text-align: center;}

/*------------------------2字符缩减----------------------*/
/*------------------------2字符缩减----------------------*/
.indent{text-indent: 2em;}

a{
    cursor: pointer;
    text-decoration: none;}


h1{ color:rgb(255, 0, 0);}

h3{
    color: seagreen;
    font-weight: 600;}
h3+p{text-align: justify;}




/*！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ */
/*----------------------手机显示样式-----------------------*/
/*----------------------手机显示样式-----------------------*/
@media screen and (max-width: 800px){
    .body_tag{
        clear: both;
        width: 100%;
        padding: 0px;}
/*---------------------------目录-------------------------*/
/*---------------------------目录-------------------------*/
    .catalog{
        width: 100%;
        background-color: rgb(128,128,128);}
        .catalog>button {
            display: block;
            font-size: 1em;
            text-align: center;
            background-color: rgb(174, 245, 174);
            border-style: outset;
            margin-bottom: 5px;
            width:99%;
            height: 40px;}
        .catalog ul {
            list-style-type: none;
            display:none;}
        .catalog li{
            width: 33%;
            padding: 1px;}
            .catalog li a{
                background-color: #eee;
                color: rgb(0, 0, 0);
                text-align: center;
                height: 40px;
                vertical-align: middle;
                text-decoration: none; }
                .catalog li a:hover{background-color: rgb(16, 196, 0);}
    
/*-------------------------笔记内容-----------------------*/
/*-------------------------笔记内容-----------------------*/
    .content{
        width: 100%;
        overflow: auto;
        background-color: rgb(136, 136, 136);;
        margin: 0;
        padding:1vw;}

/*------------------------回到顶部-----------------------*/
/*------------------------回到顶部-----------------------*/
img.backtop{
    position: fixed;
    border-radius: 50%;
    right: 5px;
    bottom: 9em;
    width: 30px;
    height: 30px;}
/*------------------------去到底部-----------------------*/
/*------------------------去到底部-----------------------*/
img.gobottom{
        position: fixed;
        transform:rotate(180deg);
        border-radius: 50%;
        right: 5px;
        bottom: 3em;
        width: 30px;
        height: 30px;}
/*------------------------夜间模式-----------------------*/
/*------------------------夜间模式-----------------------*/
.darkmode{
    position: fixed;
    border-radius: 50%;
    opacity:0.5;
    right: 5px;
    bottom: 6em;
    width: 30px;
    height: 30px;
    cursor: pointer;
    }
}