*{box-sizing: border-box;}
body{
    background-color: rgb(128, 128, 128);
    border:0.5vw solid coral;
    padding: 0.5vw;
    margin:0;}

.body_tag{
    width: 100%;
    float: left;
    padding: 0px;}

.catalog{
    width: 16vw;
    background-color: rgb(110, 110, 110);
    list-style-type: none;
    margin: 0.5vw;
    padding: 0;}
    .catalog ul {
        font-size: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;}
    .catalog li{
        width:100%;
        float: left;}
        .catalog li a{
            display: block;
            background-color: #eee;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-bottom: 4px;
            padding: 8px;
            text-decoration: none; }
            .catalog li a:hover{font-size: larger;}

.content{
    width: 77vw;
    background-color: rgb(187, 187, 187);
    margin: 0.5vw;
    padding:1vw;}

.topmenu{
    list-style-type:none;
    background-color: rgb(110, 110, 110);
    width:100%;
    max-height:60px;
    margin:0;
    padding:4px;
    position: sticky;
    top: 0;
    overflow: auto;}

.topmenu a{
    display: inline-block;
    padding: 10px 5px;
    color: rgb(255, 255, 255);}

.topmenu a:hover{
    background-color: rgb(247, 148, 0);}

.topmenu a.active{
    background-color: rgb(130, 253, 206);
    color: rgb(0, 0, 0);
    border-style: inset;}

.note_tag{
        background-color: rgb(255, 255, 255);
        color:rgb(1, 136, 30);
        margin: 10px 0px;
        padding: 1em 0.5em;}

ul ol{
    font-size: 1em;}

li span{
    background-color: silver;}
/*表格的样式表！！！！！！！！！！！*/
/*表格的样式表！！！！！！！！！！！*/
.alex {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    border:2px solid #EE872A; text-align: center;}
    .alex td, .alex th{
        border:2px solid #EE872A; 
        text-align: center;}
    .alex tr.oringe{background-color: rgb(252, 252, 168);}

/*列表的样式表！！！！！！！！！！！*/
/*列表的样式表！！！！！！！！！！！*/
ol.upalpha
{list-style-type:upper-alpha;}
ol.uproman
{list-style-type:upper-roman;}
ol.lwalpha
{list-style-type:lower-alpha;}
ol.lwroman
{list-style-type:lower-roman;}

:target{
	border: 2px solid #D4D4D4;
	background-color: #e5eecc;}

img.backtop{
    position: fixed;
    right: 0.5vw;
    bottom: 2em;
    width: 3opx;
    height: 30px;
}

.footer{
    clear: both; 
    padding: 2px; 
    background-color:rgb(172, 221, 221); 
    color: rgb(255, 255, 255);
    text-align: center;}

.indent{
    text-indent: 2em;
}

a{
    cursor: pointer;
    text-decoration: none;}

h1{ color:rgb(255, 0, 0);}

h3{
    color: seagreen;
    font-weight: 600;}

