*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial,'microsoft yahei',\5b8b\4f53,sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 26, 76);
    color: #fff;
}
#back{
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#back a{
    text-decoration: none;
    font-size: 40px;
    color: white;}
    #back a:hover{color: rgb(255, 0, 0);}
#container{
    margin: 0 auto;
    height: 100vh;
    min-height: 600px;
    padding:5px 0;
    text-align: center;
}
/*左侧播放器*/
#player{
    float: left;
    margin-left: 10vw;
    width: 50vw;
    height: 100%;
    background-image: url(../picture/打上花火bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*右侧歌词*/
    #lyrics{
        float: left;
        width: 30vw;
        height: 100%;
        margin-left: 30px;
        overflow: auto;
    }
    #lyrics::-webkit-scrollbar {display:none}
    #ffocus{
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 1em;
        background-color: limegreen;
        opacity: 0.3;
        transform: translateX(-50vh);
        -webkit-transform: translateX(50vh);
    }

/*中间图片*/
#picMid{
    margin: 0 auto;
    width: 333px;
    height: 333px;
    position: relative;
    background-color: lightseagreen;
    border-radius: 50%;
    transform: translateY(50%);
    z-index: 1;
    opacity: 0.7;
}
/*中心转动图片盒子*/
    #picCenter{
        margin: 0 auto;
        width: 160px;
        height: 160px;
        position: relative;
        transform: translateY(-50%);
        border-radius: 50%;
        z-index: 2;
    }
    #picCenter img{
        margin: 0 auto;
        width: 100%;
        border-radius: 50%;
        animation: turn 10s linear infinite;
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
        @keyframes turn{
            0%   {-webkit-transform:rotate(0deg);}
            100% {-webkit-transform:rotate(360deg);}
        }
/*进度条设置*/
    #bar{
        margin: 0 auto;
        width: 40vw;
    }
    #circle1{
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
        transform: translateX(0px) translateY(175%);
    }
    #bar1{
        width: 0px;
        height: 10px;
        background-color: lightsalmon;
        border-radius: 10px;
        transform: translateY(100%);
    }
    #bar2{
        width: 100%;
        height: 10px;
        background-color: rgb(182, 182, 182);
        border-radius: 10px;
    }
/*控制按钮设置*/
    #ctrlBtn{
        width: 300px;
        margin: 0 auto;
        padding: 15px;
        margin: 50px auto;
        list-style-type: none;
    }
    #ctrlBtn li{
        margin: 0 20px;
        cursor: pointer;
    }
    #last{
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 50%;
        background: url(../picture/musicButton1.jpg) -15px -16px;
    }
    #pause{
        width: 35px;
        height: 35px;
        display: none;
        border-radius: 50%;
        background: url(../picture/musicButton1.jpg) -76px -77.5px;
    }
    #next{
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 50%;
        background: url(../picture/musicButton1.jpg) -76px -16px;
    }
    #play{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: url(../picture/musicButton1.jpg) -15px -77.5px;
        display: inline-block;
    }



@media screen and (max-width: 800px){
    #player{
        float: left;
        margin-left: 0;
        width: 100vw;
    }
        #lyrics{
            display: none;
        }
}
@media screen and (max-height: 700px){
    #picMid{
        width: 300px;
        height: 300px;
        transform: translateY(30%);
        -webkit-transform: translateY(30%);
    }
    /*中心转动图片盒子*/
        #picCenter{
            width: 120px;
            height: 120px;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
        }
        #ctrlBtn{
            margin: 30px auto;
        }
}